@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-color: burlywood;
    }
    .display-4{
        font-weight: bold;
    }
</style>

<body>
<div class="text-center">
    <h1 class="display-4">Harry Potter Books</h1>
    <h1 class="h3">Sachit Chhabra : A01082204 </h1>
    <h1 class="h3">Zachary Taylor : A0107073</h1>
</div>
</body>
